@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --dark-orange: #f23908;
  --orange: #ff7300;
  --yellow: #ffcc01;
  --royal-blue: #1033ee;
  --dark-blue: #0325a5;
}


