main.site_container {
    background: white;
    padding: 45px;
}

.color_blur {
    background: var(--orange);
    border-radius: 50%;
    bottom: -50px;
    content: "";
    filter: blur(40px);
    height: 200px;
    position: absolute;
    left: 30%;
    width: 30%;
    right: 0;
    margin: auto;

}

h1.main_header {
    font-size: 1.125rem;
    margin: 0;
}

.body_copy {
    font-size: 1rem;
}

.do_logo {
    display: flex;
}

.do_logo, .do_logo_d {
    flex-shrink: 0;
    height: 20px;
    animation: color_change 5s infinite alternate;
    margin-left: 4px;
    width: 14px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.do_logo_o {
    flex-shrink: 0;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    animation: color_change 5s infinite alternate;
    margin-left: 4px;
}

@keyframes color_change {
    0% {
        background-color: #ff0000;
    }
    25% {
        background-color: #ffff00;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #00ffff;
    }
    100% {
        background-color: #0000ff;
    }
}